<!-- ============== START - FOOTER ============== -->
<footer class="footer bg-dark pt-5 pb-4 pb-lg-5">
    <div class="container dark-mode pt-lg-4">
        <div class="row pb-5">
            <div class="col-md-4">
                <div class="navbar-brand text-gradient-primary p-0 me-0 mb-3 mb-lg-4">
                    Contact us
                </div>

                <ul class="nav flex-column pb-lg-1 mb-lg-3">
                    <li class="nav-item">
                        <p class="nav-link d-inline-block px-0 pt-1 pb-2">
                            It's a fun project. Made by <a href="http://hossainfoysal.com" target="_new">HossainFoysal.com</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link d-inline-block px-0 pt-1 pb-2">
                            Hosted on <a href="http://binomatrix.com" target="_new">BinoMatrix</a>. Fastest growing software company in Bangladesh.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 pt-4 pt-md-1 pt-lg-0">
                <div class="row">
                    <div class="col-md-5">
                        <h6 class="navbar-brand fs-md mb-2 text-gradient-primary">
                            Sitemap
                        </h6>
                        <div class="d-block">
                            <ul class="nav flex-column pb-lg-1 mb-lg-3">
                                <li class="nav-item">
                                    <a href="/" class="nav-link d-inline-block px-0 pt-1 pb-2">
                                        Home
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">
                                        Contact
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h4 class="text-gradient-primary">
                            Developed by
                        </h4>
                        <a href="http://hossainfoysal.com" target="_new" class="fs-lg nav-link">Hossain Foysal</a>
                        <p class="fs-md mb-0">Full-Stack Software Engineer</p>
                        <a href="tel:+8801884020619" class="nav-link">Mobile: +8801884020619</aj>
                        <a href="http://hossainfoysal.com" target="_new">
                            <img style="border-radius: 20px"
                                src="https://hossainfoysal.com/static/img/social-media-banner-hossainfoysal.com.jpg"
                                alt="Hossain Foysal - Full Stack Web Developer, app developer, cybersecurity researcher " />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="nav d-block fs-xs text-center pb-5 pb-lg-0 mb-5 mb-lg-0">
            © All rights reserved by ValentineAI. Hosted with 💙 by
            <a class="nav-link d-inline-block p-0" href="https://binomatrix.com/" target="_blank">BinoMatrix.com</a>
        </p>
    </div>
</footer>
<!-- ============== END - FOOTER ============== -->