{% extends 'layout/root.html' %}

{% block nav %}
{% include 'helpers/_nav_top_landing.html' %}
{% endblock %}

{% block body %}
<main style="margin-top: 100px">
    <section class="position-relative pt-5 pb-5">

        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100">
            <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                <h1 class="text-center text-xl-start">
                    Forget your password?
                </h1>

                <form method="POST" action="" class="needs-validation mb-2" novalidate="">
                    {{ form.hidden_tag() }}
            
                    <div class="position-relative my-4">
                        {{ form.email.label(class="form-label fs-base") }}
                        
                        {{ form.email(
                            class="form-control form-control-lg",
                            placeholder="Email"
                        ) }}
                        <div class="invalid-feedback position-absolute start-0 top-100">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}                  
                        {% else %}
                            <span>Please enter valid Email!</span>    
                        {% endif %}
                        </div>
                    </div>

                    {{ form.submit(class="btn btn-primary shadow-primary btn-lg w-100") }}
                </form>
            </div>

            <!-- Background -->
            <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block"
                style="background-image: url(https://silicon.createx.studio/assets/img/account/signin-bg.jpg);"></div>
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
{% include 'helpers/_global_footer.html' %}
{% endblock %}