<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Reset Your Password</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}" />
	</head>
	<body style="font-family: sans-serif; margin: 1rem 3rem; background-color: #6366f1;">
		<div style="background-color: #fff; padding: 2rem;">
			<table>
				<tbody>
					<tr>
						<!-- <td>
              <a href="https://rabeyabaten.com/" style="text-decoration: none;">
                <img src="https://rabeyabaten.com/static/assets/images/logo.jpg" width="80"
                  alt="Rabeya Baten Foundation">
              </a>
            </td> -->
						<td>
							<a href="#" style="text-decoration: none;">
								<span style="margin-left: 10px; font-size: 1.5rem; color: #000; font-weight: 700;">
									ValentineAI
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

			<p style="text-align: left; margin-top: 20px">
				We received a request to reset the password for your account with the Valentine application.
				To reset your password, please click on the link below
			</p>
			<p style="margin-top: 50px; margin-bottom: 50px; text-align: center;">
				<a href="{{ password_reset_link }}"
					style="background: #6366f1; padding: 15px 40px; color: #fff; border-radius: 0.35rem; text-decoration: none;">
					Reset your Password
				</a>
			</p>
			<p style="text-align: left;">
				If you are unable to click the link, please copy and paste it into your browser's address bar.
				<br>
			<p style="margin-top: 30px; margin-bottom: 20px;">
				<a href="{{ password_reset_link }}"> {{ password_reset_link }} </a>
			</p>
			<br>
			<p style="text-align: left;">
				Please note that this link is only valid for the next 24 hours. If you do not reset your password within this time frame, you will need to submit a new request.
			</p>

			<p style="text-align: left;">
				If you have any questions or need further assistance, please contact us at
				<a href="mailto:sayhi@hossainfoysal.com">sayhi@hossainfoysal.com</a>.
				<br>
				If you did not make this request then simply ignore this email and no changes will be made.
			</p>
			<p style="text-align: left;">
				Best Regards,<br>
				Valentine AI
			</p>
			<address style="text-align: left; background-color: #dfe6e9; color: #000; padding: 2rem;">
				<small>
					It's a fun project. Made by <a href="http://hossainfoysal.com" target="_new">HossainFoysal.com</a>
					<br>
					Hosted on <a href="http://binomatrix.com" target="_new">BinoMatrix</a>. Fastest growing software company in Bangladesh.
				</small>
			</address>
		</div>
	</body>
</html>